.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block {
  width: 200px;
  height: 200px;
  background-color: blue;
}

.containerHome {
  background-color: aqua;
}
